.fullWidthButton{
	width: 100%;
	color: white;
	background-color: green;
}

* {
  box-sizing: border-box;
}

.card{
	background-image: url("../assets/imgs/grassBackground.png");
	background-size: contain;
}

.title{
	color: white;
	float: left;
}

.cardButton{
	float: right;
	color: black;
	margin-top: 5%;
	font-size: 1.5em;
}
