

* {
  box-sizing: border-box;
}

.patternCard{
	background-image: url("../assets/imgs/grassBackground.png");
	background-size: contain;
}

.title{
	color: white;
	float: left;
}

.cardButton{
	float: right;
	color: black;
	margin-top: 5%;
	font-size: 1.5em;
}

.noPatternMessage{
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-top: 10%;
}
