<ion-header>
  <ion-navbar>
    <ion-title>
      My Fielding Plans
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-card class="patternCard" *ngFor="let pattern of patterns; let i=index">
    <ion-card-header>
      <ion-card-title class="title" (click) ="openCustomSelectModal(pattern)">{{pattern.patternName}}</ion-card-title>
      <div [hidden]="true">{{pattern}}</div>
      <button class="cardButton">
        <ion-icon name="remove-circle" *ngIf="pattern.custom == 1" (click)="deleteOnePattern(pattern.patternId)"></ion-icon>
      </button>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>

  </ion-card>
  <div class="noPatternMessage" *ngIf="patterns.length == 0">You do not have any patterns.</div>
  <button ion-button class="fullWidthButton" *ngIf="patterns.length > 0" (click)="deleteAllCustomData()">
    Delete All Plans
  </button>
  <ion-fab bottom right class="fabContainer">
   <button ion-fab (click)="addNewPattern()" class="fabButton">
     <ion-icon name="add" class="fabIcon"></ion-icon>
   </button>
 </ion-fab>
</ion-content>
