.popover-ios .popover-content{
	width: 100%;
	left: 0;
}

.popupButtonOk{
	background-color: green;
	width: 50%;
}

.popupButtonCancel{
	background-color: lightGrey;
	width: 45%;
	float: left;
}

.popupHeader{
	text-align: center;
	width: 100%;
}
