page-custom-pattern-select-modal {

}
.iconStyle{
  color: green;
}

.header{
  color: white;
}

.instructionCard{
  background-color: green;
}

.noInstructionsMessage{
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
}

.inputClass{
  background-color: grey;
  color: white;
}

.labelClass{
  color: white;
}

.transparentIonItem{
  background-color: transparent;
}
