
<ion-header>
  <ion-navbar>
    <ion-title>Field</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="container">
  <div class="full-width">
    <ion-input class="center instruction" [(ngModel)]="playType"></ion-input>
  </div>
  <div id="grid-source"><img class="fieldImage" src="../assets/imgs/field.png"></div>
  <!--
  <div class="item fieldpic-border" align="center">
      <ion-checkbox class="firstSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="secondSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="ssSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="thirdSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="pitcherSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="catcherSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="leftSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="centerSelect" disabled="false"></ion-checkbox>
      <ion-checkbox class="rightSelect" disabled="false"></ion-checkbox>

      <img class="fieldpic padding-bottom" src="../assets/imgs/field.png">
  </div>
  -->
  <div class="iconWrapper">
    <ion-icon class="iconStyle" *ngIf="readyToPlay" name="play" (click)='play()'></ion-icon>
    <ion-icon class="iconStyle" *ngIf="playing" name="pause" (click)='pause()'></ion-icon>
    <ion-icon class="iconStyle" *ngIf="paused" name="play" (click)='unpause()'></ion-icon>
    <ion-icon class="stopIcon" *ngIf="(playing || paused)" (click)='stop()'></ion-icon>
    <!--<ion-icon class="iconStyle" name="skip-backward" *ngIf="paused" (click)='previousInstruction()'></ion-icon>-->
  </div>
  <button ion-button color="primary" (click) ="sendData()">Begin</button>
  <button ion-button color="secondary" (click) ="startScanning()">Connect</button>
  <button ion-button color="danger" (click) ="disconnect()">Disconnect</button>
  <button ion-button color="primary" (click) ="readData()">Feedback</button>

  <ion-list *ngIf="showPairedDevices">
    <ion-item *ngFor="let device of pairedDevices" (click)='selectDevice(device.id, device.name)'>
        <button ion-button full>
            {{device.name}}
        </button>
    </ion-item>
  </ion-list>

</ion-content>
