.firstSelect{
	z-index: 2;
    position: absolute;
    left: 65%;
    top: 48%;
    margin: auto;
}

.secondSelect{
	z-index: 2;
    position: absolute;
    left: 55%;
    top: 37%;
    margin: auto;
}

.ssSelect {
    z-index: 2;
    position: absolute;
    left: 40%;
    top: 38%;
    margin: auto;
}

.thirdSelect{
	z-index: 2;
    position: absolute;
    left: 30%;
    top: 50%;
    margin: auto;
}

.pitcherSelect{
	z-index: 2;
    position: absolute;
    left: 47%;
    top: 60%;
    margin: auto;
}

.catcherSelect{
	z-index: 2;
    position: absolute;
    left: 47%;
    top: 87%;
    margin: auto;
}

.leftSelect{
	z-index: 2;
    position: absolute;
    left: 20%;
    top: 30%;
    margin: auto;
}

.centerSelect{
	z-index: 2;
    position: absolute;
    left: 47%;
    top: 15%;
    margin: auto;
}

.rightSelect{
	z-index: 2;
    position: absolute;
    left: 75%;
    top: 30%;
    margin: auto;
}

.fieldpic {
	width: 100%;
	height: 100%;
}
.fieldpic-border {
	position: relative;
	height: 65%;
}

.iconStyle{
	font-size: 5em;
	margin-right: 15%;
	color: green;
}

.iconWrapper{
	text-align: center;
	margin-top: 5%;
	margin-left: 15%;
}

.center{
	text-align: center;
}

.full-width{
	width: 100%;
	//height: -50%;
}

.instruction{
	font-size: 8vw;
	color: white;
}

.actionButton{
	background-color: green;
	font-size: 2rem;
	margin-left: -15%;
}

#grid-source-home { position: absolute; width: 90%; height: 65%;}//max-height: 65%;}
#grid-overlay-home { position: relative; }

.fieldImageHome { display:block !important; width: 100%; height: 100%;}
.unselected { background-color: none; }
.selected { background-color: red; }
