#field-grid-source { position: absolute; width: 90%; height: 65%;}
#field-grid-overlay { position: relative;}
.fieldImage { display:block !important; width: 100%; height: 100%;}
.unselected { background-color: none; }
.selected { background-color: red; }
